/* body */
/* { */
/* } */

/* * */
/* { */
    /* margin: 0px; */
    /* padding: 0px; */
    /* border: 0px; */
/* } */

/* html */
/* { */
    /* overflow: scroll; */
/* } */

/* body */
/* { */
    /* margin: 0 auto; */
    /* padding: 0px; */
    /* font-family: Calibri; */
    /* /*font-size: 22px;*/ */
    /* font-size: 18px; */
    /* color: #000; */
    /* line-height: 35px; */
    /* background-color: #0189b7; */
    /* /*padding-top: 0px;*/ */
    /* /*overflow-x: hidden;*/ */
/* } */

/* /*trupti 16 November 2015*/ */
.outer_div
{
    position: relative;
}

#map_img_DEL
{
    width: 820px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_PUY
{
    width: 820px;
    height: 580px;
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_UPD
{
    width: 820px;
    height: 666px;
    background-image: url(../images/uttar-pradesh-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}
/*trupti 16 November 2015*/
/*trupti 17 November 2015*/
#map_img_RAJ
{
    width: 880px;
    /*height: 960px;*/
    height: 750px;
    background-image: url(../images/rajasthan-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_MAH
{
    width: 880px;
    height: 534px;
    background-image: url(../images/maharashtra-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

/*trupti 17 November 2015*/

/*trupti 18 November 2015*/
#map_img_HPD
{
    width: 880px;
    height: 480px;
    background-image: url(../images/himachal-pradesh-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_APD
{
    width: 880px;
    height: 570px;
    background-image: url(../images/andhra-pradesh-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}


#map_img_ASM
{
    width: 780px;
    height: 480px;
    background-image: url(../images/assam-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_TLG
{
    width: 780px;
    height: 570px;
    background-image: url(../images/telangana-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_CTG
{
    width: 780px;
    height: 630px;
    background-image: url(../images/chhattisgarh-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_MPD
{
    width: 880px;
    height: 730px;
    background-image: url(../images/madhya-pradesh-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}


#map_img_ODI
{
    width: 880px;
    height: 460px;
    background-image: url(../images/odisha-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_india
{
    width: 750px;
    height: 710px;
    background-image: url(../images/india-map1.png);
    background-repeat: no-repeat;
    background-position: top center;
}

/*trupti 18 November 2015*/
#map_img_JAK
{
    width: 820px;
    height: 560px;
    background-image: url(../images/jammu-and-kashmir-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_UTK
{
    width: 880px;
    height: 505px;
    background-image: url(../images/uttarakhand-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_JRK
{
    width: 880px;
    height: 410px;
    background-image: url(../images/jharkhand-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_TML
{
    width: 880px;
    height: 620px;
    background-image: url(../images/tamilnadu-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_KRL
{
    width: 880px;
    height: 660px;
    background-image: url(../images/kerala-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_PNB
{
    width: 880px;
    /*height: 830px;*/
    height: 620px;
    background-image: url(../images/punjab-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_KRT
{
    width: 880px;
    /*height: 820px;*/
    height: 620px;
    background-image: url(../images/karnataka-map.png);
    background-repeat: no-repeat;
    background-position: top center;
    /*margin-bottom: 250px;*/
}

#map_img_BGL
{
    width: 880px;
    height: 580px;
    background-image: url(../images/west-bengal-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_BHR
{
    width: 820px;
    /*height: 700px;*/
    height: 718px;
    /*height: 870px;*/
    background-image: url(../images/bihar-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_HRN
{
    width: 820px;
    height: 560px;
    background-image: url(../images/haryana-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_GJT
{
    width: 820px;
    height: 560px;
    background-image: url(../images/gujarat-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_DNH
{
    width: 820px;
    height: 560px;
    background-image: url(../images/dadra-and-nagar-haveli-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_LAD
{
    width: 820px;
    height: 560px;
    background-image: url(../images/lakshadweep-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_NGD
{
    width: 820px;
    height: 560px;
    background-image: url(../images/nagaland-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_MIP
{
    width: 820px;
    height: 560px;
    background-image: url(../images/manipur-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_GOA
{
    width: 820px;
    height: 560px;
    background-image: url(../images/goa-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}


#map_img_MGA
{
    width: 820px;
    height: 215px;
    background-image: url(../images/meghalaya-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_ANI
{
    width: 820px;
    height: 560px;
    background-image: url(../images/andaman-nicobar-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}


#map_img_SKM
{
    width: 820px;
    height: 600px;
    background-image: url(../images/sikkim-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

/*Sadhana : 29th March, 2017 : Added for BULB Dashboard*/
#map_img_DEL
{
    width: 820px;
    height: 600px;
    background-image: url(../images/delhi-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

/*Sadhana : Added 4 state Map on 23rd SEPT, 2016*/

#map_img_ACP
{
    width: 820px;
    height: 560px;
    background-image: url(../images/arunachal-pradesh-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}


#map_img_MIP
{
    width: 820px;
    height: 560px;
    background-image: url(../images/manipur-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}


#map_img_TPA
{
    width: 820px;
    height: 649px;
    background-image: url(../images/tripura-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#map_img_MZM
{
    width: 820px;
    height: 649px;
    background-image: url(../images/mizoram-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}



/*Nutan:6-6-2017 chandigarh map*/
#map_img_CHG {
    width: 820px;
    height: 560px;
    background-image: url(../images/chandigarh-map.png);
    background-repeat: no-repeat;
    background-position: top center;
}

a
{
    color: #003658;
    text-decoration: none;
}

    a:hover
    {
        color: #fff;
    }

h1
{
    font-family: Agency FB, 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 50px;
    /*padding-bottom: 0px;*/
    padding-top: 20px;
}

@font-face
{
    font-family: 'Agency FB';
    src: url(../fonts/AGENCYR.eot);
    src: url(../fonts/AGENCYR.eot?#iefix) format('embedded-opentype'),url(../fonts/AGENCYR.TTF) format('truetype');
}


@font-face
{
    font-family: 'Digital-7';
    src: url(../fonts/digital-7.regular.eot);
    src: url(../fonts/digital-7.regular.eot?#iefix) format('embedded-opentype'),url(../fonts/digital-7.regular.ttf) format('truetype');
}

.orange
{
    color: #ff7f00;
}

.white
{
    color: #fff;
}

.green
{
    color: #3cd82d;
}

.digital_font
{
    font-family: Digital-7;
    font-size: 140px;
    color: #fff;
    text-decoration: none;
}

.total_distributed_text
{
    font-size: 27px;
    text-align: right;
    padding-right: 30px;
    /*padding-bottom: 30px;*/
}

.date_time
{
    font-size: 41px;
    text-transform: uppercase;
    padding-bottom: 0px;
}

.map_numbers
{
    font-family: Digital-7;
    /*font-size: 21px;*/
    font-size: 16px;
    color: #003658;
    /*border: 1px solid red;*/
    /*display: inline-block;*/
}

.map_numbers_states
{
    font-family: Digital-7;
    /*font-size: 25px;*/
    font-size: 19px;
    color: #003658;
    /*z-index: 0;*/
    /*border: 1px solid red;*/
    /*display: inline-block;*/
}

div .red-border span
{
    border: 1px solid red;
}

.bulb_img
{
    background-image: url(../images/bulb.png);
    background-repeat: no-repeat;
    /*background-position: bottom right;*/
    background-position: bottom center;
    padding-bottom: 50px;
}


.blue_bg
{
    height: 68px;
    background-image: url(../images/blue_bg.png);
    background-repeat: repeat-x;
    background-position: left center;
}

.back-button
{
    background-image: url(../images/back_arrow.png);
    background-repeat: no-repeat;
    padding-left: 150px;
    left: 30px;
    width: 53px;
    height: 23px;
}

    .back-button:hover
    {
        background-image: url(../images/back_arrow_hover.png);
        background-repeat: no-repeat;
        padding-left: 150px;
    }

.location-kiosk
{
    width: 425px;
    padding: 15px 15px 15px 15px;
    /* padding: 20px 10px; */
    /*margin: 35px;*/
    /*margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 20px;*/
}


    .location-kiosk .title
    {
        background-color: #01B5F1;
        color: #fff;
        padding: 5px 20px;
        font-size: 22px;
    }

    .location-kiosk .address
    {
        height: 120px;
        background-color: #e5f9ff;
        color: #333;
        padding: 5px 20px;
        font-size: 18px;
        text-align: justify;
        height: 120px;
        line-height: 27px;
    }

.column1
{
    /*padding-left: 100px;*/
}

.location_table_td_title
{
    /*background-color: #01B5F1;*/
    background-color: #003658;
    color: #fff;
    padding: 5px 20px;
    font-size: 22px;
    width: 18px;
    text-align: left;
}

.location_table_td_title_1
{
    /*background-color: #01B5F1;*/
    background-color: #003658;
    color: #fff;
    padding: 5px 20px;
    font-size: 18px;
    width: auto;
    text-align: left;
}

.location_table_td_area
{
    background-color: #e5f9ff;
    color: #333;
    padding: 5px 20px;
    font-size: 18px;
    text-align: justify;
    /*height: 120px;*/
    line-height: 27px;
    width: 750px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

    .location_table_td_area a
    {
        /*text-decoration: underline;*/
    }

        .location_table_td_area a span
        {
            text-decoration: underline;
        }

        .location_table_td_area a:hover
        {
            color: #333;
        }

table .institution-entries
{
    background-color: #e5f9ff;
}

    table .institution-entries tr
    {
        border: 1px solid #ccc;
    }

.institution_table_td_name
{
    /*background-color: #01B5F1;*/
    /*background-color: #003658;*/
    background-color: #e5f9ff;
    /*color: #fff;*/
    color: #333;
    padding: 5px 20px;
    font-size: 22px;
    /*width: 18px;*/
    width: 500px;
    line-height: 27px;
    border: 1px solid #ccc;
}

.institution_table_td_bulbs
{
    background-color: #e5f9ff;
    color: #333;
    padding: 5px 20px;
    font-size: 18px;
    text-align: justify;
    /*height: 120px;*/
    line-height: 27px;
    /*width: 750px;*/
    width: 280px;
    border-bottom: 1px solid #ccc;
}


.factor_lbl
{
    height: 30px;
    color: #ccc;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 20px;
}

.delp_lbl
{
    font-size: 20.5px;
    height: 30px;
    color: #ccc;
    /*font-size: 16px;*/
    line-height: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
}


.factor_val
{
    height: 30px;
    color: #ccc;
    font-size: 27px;
    line-height: 30px;
    display: inline-block;
}

.state-value
{
    /*font-size: 22px;*/
    background-image: url(../images/right-arrow.png);
    background-repeat: no-repeat;
    /*z-index: 10;*/
    background-position: right center;
    /*padding-right: 22px;*/
    padding-right: 21px;
}

    .state-value:hover
    {
        background-image: url(../images/right-arrow-hover.png);
    }

.state-names
{
    /*font-size: 14px;*/
    font-size: 12px;
    color: #fff;
    font-family: 'Raleway', sans-serif !important;
    font-weight: normal;
}

.state-names-state
{
    /*font-size: 15px;*/
    font-size: 13px;
    color: #fff;
    font-family: 'Raleway', sans-serif !important;
    font-weight: normal;
    /*z-index: 0;*/
}

.state-names:hover
{
    color: #003658;
}

.locations-sub-headings
{
    line-height: 45px;
    text-align: center;
    color: #191919;
}

.customer-care
{
    /*line-height: 45px;*/
    text-align: center;
}

    .customer-care p
    {
        font-size: 18px;
        line-height: 23px;
        color: #ccc;
    }

        .customer-care p span
        {
            text-transform: uppercase;
        }

a.tooltips
{
    position: relative;
    display: inline;
}

    a.tooltips div
    {
        position: absolute;
        width: 140px;
        color: #FFFFFF;
        background: #000000;
        height: 30px;
        line-height: 30px;
        text-align: center;
        visibility: hidden;
        border-radius: 6px;
    }

        a.tooltips div:after
        {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-top: 8px solid #000000;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
        }

a:hover.tooltips div
{
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}


[data-tooltip]
{
    position: relative;
    /*z-index: 2;*/
    cursor: pointer;
}

    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after
    {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
        z-index: 1;
    }

    /* Position tooltip above the element */
    [data-tooltip]:before
    {
        position: absolute;
        bottom: 90%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 160px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 12px;
        line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after
    {
        position: absolute;
        bottom: 90%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after
    {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

.tooltip-font
{
    font-family: Calibri;
}

.digital-font
{
    font-family: Digital-7;
}



.scrollToTop
{
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    /*top: 485px;*/
    /*bottom: 30px;*/
    /*Nutan:2aug2017*/
    bottom: 120px;
    right: 10px;
    display: none;
    background-image: url('../images/top-arrow1.png');
    background-repeat: no-repeat;
}

    .scrollToTop:hover
    {
        text-decoration: none;
    }

.inline
{
    display: inline-block;
}


.blue-box
{
    background-color: #006cb0;
    border: 1px solid #e5f9ff;
}

.yellow-box
{
    background-color: #e5f9ff;
    border: 1px solid #e5f9ff;
}

.colorbox-info
{
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 15px;
    color: #dcddde;
    line-height: 20px;
}

.sold-text
{
    color: #dcddde;
    font-size: 16px;
    font-family: 'Raleway';
}

.footer-digital-font
{
    font-family: Digital-7;
    font-size: 18px;
    color: #dcddde;
}




.footer_outer_box
{
    background-color: #cceafd;
    border: 1px solid #e5f9ff;
    box-shadow: 0px 0px 10px #939598;
}

.footer_title
{
    font-size: 25px;
    color: #003658;
}

.footer_btn_main
{
    /*width: 168px;*/
    width: 240px;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 18px;
}

.footer_btn1
{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: #006cb0;
    border: 1px solid #e5f9ff;
    box-shadow: 0px 0px 4px #58595b;
    background-image: url(../images/blue-download.png);
    background-repeat: no-repeat;
    background-position: left 25px center;
}

    .footer_btn1:hover
    {
        background-color: #ffb62a;
        background-image: url(../images/yellow-download.png);
        background-repeat: no-repeat;
        background-position: left 25px center;
    }

.footer_btn2
{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: #006cb0;
    border: 1px solid #e5f9ff;
    box-shadow: 0px 0px 4px #58595b;
    background-image: url(../images/blue-download.png);
    background-repeat: no-repeat;
    background-position: left 25px center;
}

    .footer_btn2:hover
    {
        background-color: #ffb62a;
        background-image: url(../images/yellow-download.png);
        background-repeat: no-repeat;
        background-position: left 25px center;
    }

.footer_btn3
{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: #006cb0;
    border: 1px solid #e5f9ff;
    box-shadow: 0px 0px 4px #58595b;
    background-image: url(../images/blue-download.png);
    background-repeat: no-repeat;
    background-position: left 15px center;
}

    .footer_btn3:hover
    {
        background-color: #ffb62a;
        background-image: url(../images/yellow-download.png);
        background-repeat: no-repeat;
        background-position: left 15px center;
    }

.LanguageTranslateText
{
    border-top: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    padding: 10px 10px;
    opacity: 0.6;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

    .LanguageTranslateText:hover
    {
        color: #fff;
        /*background-color: #fff;*/
        opacity: 1;
    }

.TopMenu
{
    border-top: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    padding: 10px 10px;
    opacity: 0.6;
    cursor: pointer;
    margin-right: -4px;
}

.TopMenu1
{
    border: 1px solid #f2f2f2;
    border-right: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0;
}

.TopMenu2
{
    border: 1px solid #f2f2f2;
    border-right: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.TopMenu3
{
    border: 1px solid #f2f2f2;
    border-right: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.TopMenu4
{
    border: 1px solid #f2f2f2;
    border-right: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.TopMenu5
{
    border: 1px solid #f2f2f2;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
}

.TopMenu:hover
{
    color: #fff;
    opacity: 1;
}


.TotalTab
{
    text-align: center;
    color: #000;
}

.feedback-lnk
{
    position: absolute;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 9px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 2px 5px;
    right: 15px;
    top: 0px;
}

    .feedback-lnk:hover
    {
        color: #000 !important;
    }

    .feedback-lnk a
    {
        color: #fff;
        padding: 10px 5px;
    }

    .feedback-lnk:hover a
    {
        font-size: 15px;
        cursor: pointer;
        padding: 2px 5px;
        right: 15px;
        top: 0px;
    }

    .feedback-lnk a:hover
    {
        text-decoration: underline;
    }
