@CHARSET "ISO-8859-1";

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #f9f9f9;
}
.main {
	width: 63%;
	height: 345px;
	float: left;
}
.main, .container>header {
  padding: 70px 5px;
}
.route, .container > header {
    padding: 70px 5px;
}
.route{
	width: 30%;
	height: 343px;
	float: right;
	margin-right: 30px;	
}