/* Nikhil - ExtJs Theme for New Platform*/

/**
* Extjs Grid Row
**/
.x-grid3-row td,*.x-grid3-summary-row td {
	height: 20px;
}

/**
* Extjs Grid Cell
**/
.ext-strict .x-grid3-cell-inner,.ext-strict .x-grid3-hd-inner {
	padding-top: 8px;
}
/**
* Extjs Grid Bottom Bar
**/
.x-toolbar-ct {
width: 100%;
background-color: #E2DEDE;
border: 0;
}
/**
* Extjs Grid Row
**/
.x-grid3-hd-row td {
border-left-color: #FFFFFF !important;
border-right-color: #FFFFFF !important;
}
/**
* Extjs Grid Row Border
**/
.x-grid3-row {
	border-color: #E4E4E4 !important;
	border-top-color: #FFFFFF !important;
	height: 30px;
}

.x-grid3-body *.x-grid3-td-checker {
	background-image: none !important;
}

/**
* Extjs Grid Header
**/

.x-panel-tl, *.x-panel-tr {
background-image: none !important;
border-bottom-color: #FFFFFF;
background-color: #70727A !important;
}

.x-grid3-header {
	background-color: #ffffff !important;
	border-color: black !important;
	background-image: none !important;
	background-color: rgb(225, 227, 230) !important;
}

/**
* Extjs Pannel Header
**/
.x-panel-header {
background-image: none !important;
background-color: #70727A !important;
height: 20px !important;
padding: 15px 0px 5px 5px !important;
font-size: 20px !important;
font-family: 'Open Sans',Light !important;
color:#FFFFFF !important;
line-height: 8px !important;
font-weight: normal !important;
}

/**
* Extjs Window Side css
**/
.x-window-tc {
	background-image: none !important;
	background-color: #5f6f81 !important;
}

.x-window-br {
	background-image: none !important;
	background-color: #5f6f81 !important;
}

.x-window-bc {
	background-image: none !important;
	background-color: #5f6f81 !important;
}

.x-window-bl {
	background-image: none !important;
	background-color: #5f6f81 !important;
}

.x-window-tl {
	background-image: none !important;
	background-color: #5f6f81 !important;
}

.x-window-tr {
	background-image: none !important;
	background-color: #5f6f81 !important;
}

.x-window-ml {
	background-image: none !important;
	background-color: #5f6f81 !important;
}

.x-window-mr {
	background-image: none !important;
	background-color: #5f6f81 !important;
}
/**
* Extjs Menu
**/
a.x-menu-item {
color: #111111;
font-family: 'Open Sans', sans-serif !important;
font-size: 12px;
}

/**
* Extjs Grid Rows
**/
.x-grid3-hd-row td {
font-weight: normal;
font-size: 12px !important;
line-height: 1.36em;
font-family: 'Open Sans', sans-serif !important;
color: #FFFFFF;
background-color: #505F64;
height:35px !important;
text-indent: 10px !important;
}

*.x-grid3-row-checker, *.x-grid3-hd-checker {
margin-top: 5px;
}

*.x-grid3-row td, *.x-grid3-summary-row td {
font-size: 12px !important;
font-family: 'Open Sans', sans-serif;
color: #887F7F;
background-color: #ECECEC;
border-right: 1px solid #fff;
padding-left: 0px !important;
padding-top: 3px !important;
padding-bottom: 1% !important;
text-indent: 10px;
}
		
*.x-grid3-body *.x-grid3-td-checker {
background-image: none !important;
background-color: #ECECEC;
}	
				

#testgrid_id table caption,table th,table td {
padding : 0px !important;
margin : 0px !important;
}
table caption,table th,table td {
padding : 0px !important;
margin : 0px !important;
}

.x-grid3 table {
	table-layout: fixed;
	height: 32px;
}

.x-grid3-row td,*.x-grid3-summary-row td {
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif !important;
}

*.x-grid-empty {
	color: #030303;
	font-weight: normal;
	font-size: 11px;
	font-family: arial, tahoma, helvetica, sans-serif;
}

/*Highlighting selected row*/
.x-grid3-row-selected td, *.x-grid3-summary-row td {
font-size: 12px !important;
font-family: 'Open Sans', sans-serif !important;
background-color: #5eb9f9;
color: #fff;
}
/*Highlighting selected row*/
*.x-grid3-body *.x-grid3-row-selected *.x-grid3-td-numberer, *.x-grid3-body *.x-grid3-row-selected *.x-grid3-td-checker, *.x-grid3-body *.x-grid3-row-selected *.x-grid3-td-expander {
background-image: none !important;
background-color: #5eb9f9 !important;
color: #fff !important;
}

/**
* Extjs Window Header
**/
.x-window-tl *.x-window-header {
	height: 25px;
	padding-top: 12px !important;
	font-size: 15px !important;
	font-family: 'Open Sas' sans-serif !important;
}

/**
* Extjs Masking Background
**/
.ext-el-mask {
	background-color: #161410 !important;
}

/**
* Extjs Button
**/
.x-btn-tl,*.x-btn-tr,*.x-btn-tc,*.x-btn-ml,*.x-btn-mr,*.x-btn-mc,*.x-btn-bl,*.x-btn-br,*.x-btn-bc
{
background-image: none !important;
}
.x-btn-bc {
border-bottom: 3px solid #5f6f81;
}

/**
* Extjs Button
**/
.x-btn button {
	font: 'Open Sans', sans-serif !important;
	font-size: 15;
	height: 24px !important;
	padding-right: 5px !important;
}

/**
* Extjs Button Mouse Over
**/
.x-btn-over button {
	color: #FFFFFF !important;
}

.x-btn-over .x-btn-mc {
	background-color: #5f6f81 !important;
}

.x-btn-over .x-btn-mr {
	background-color: #5f6f81  !important;
}

.x-btn-over .x-btn-ml {
	background-color: #5f6f81 !important;
}

.x-btn-over .x-btn-bc {
	background-color: #5f6f81 !important;
}

.x-btn-over .x-btn-bl {
	background-color: #5f6f81 !important;
}

.x-btn-over .x-btn-br {
	background-color: #5f6f81 !important;
}

.x-btn-over .x-btn-tc {
	background-color: #5f6f81 !important;
}

.x-btn-over .x-btn-tl {
	background-color: #5f6f81 !important;
}

.x-btn-over .x-btn-tr {
	background-color: #5f6f81 !important;
}

/**
* Grid Footer- Bottom(Add,Modify,Delete)
**/

.x-toolbar *.xtb-sep {
	background-image: none;
}

/**
* Grid Footer- Bottom(Add,Modify,Delete)
**/
.x-panel-noborder *.x-panel-bbar-noborder *.x-toolbar {
	border-top-color: white;
}


/**
* Grid Header- Left Side(SL No)
**/
.x-grid3-body *.x-grid3-td-numberer {
	background-image: none !important;
	background-color: rgb(225, 227, 230) !important
}

/**
* Text Field
**/
.x-form-text,textarea.x-form-field {
	background-color: #fefefe;
	background-image: none !important;
	border-color: #5f6f81;
	color: #2e2323;
}

/**
* ExtJs Calender Button
**/
.x-form-field-wrap *.x-form-igger {
	padding-top: 3px;
}

/**
* ExtJs Check Box
**/
.x-menu-item-checked *.x-menu-item-icon {
	background-image: url(/ApplicationImages/ApplicationButtonIcons/checkedblue.png)
		!important;
}

.x-menu-check-item *.x-menu-item-icon {
	background-image: url(/ApplicationImages/ApplicationButtonIcons/uncheckedblue.png);
}

/**
* ExtJs Tab
**/
ul.x-tab-strip-top {
	background-color: #C9BEBD !important;
	background-image: none;
	border-bottom-color: #C9BEBD !important;
	padding-left: 0px;
}

.x-tab-panel-header,*.x-tab-panel-footer {
	background-color: #fdffff;
	border-color: #FFFFFF;
	overflow: hidden;
}

.x-tab-strip-top .x-tab-right,.x-tab-strip-top .x-tab-left,.x-tab-strip-top .x-tab-strip-inner
	{
	background-image: none !important;
	background-color: #5f6f81 !important;
}

.x-tab-strip-active span.x-tab-strip-text {
	color: rgb(2, 176, 230);
	border-color: rgb(2, 176, 230);
	font-weight: bold;
}

/**
* Radio Button
**/
.x-form-radio x-form-field {
	background-image: url(/ApplicationImages/ApplicationButtonIcons/uncheckedblue.png);
}

/**
* Grid Scroll Bar
**/
#ext-gen11::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}

#ext-gen11::-webkit-scrollbar {
	width: 16px;
	background-color: #FFFFFF;
}

#ext-gen11::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #81A4CC;
}

/**
* Combo
**/
*.x-combo-list *.x-combo-selected {
	border-color: #5f6f81 !important;
	background-color: #5f6f81;
	color: #FFFFFF;
}

*.x-combo-list {
	border-color: #5f6f81;
	background-color: #FFFFFF;
	font-weight: normal;
	font-size: 12px;
	font-family: arial, tahoma, helvetica, sans-serif;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner
	{
		background-color: transparent !important;
		background-image: none !important
	}
	.x-grid3-hd-btn {
		background-color: transparent !important;
		background-image: none !important
	}