
/* Table 1 Style */
table.table1{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.23em;  //height
    font-style: normal;
    border-collapse:separate;
	margin-left:48%;
	margin-right: 10px;
}
@media screen and (max-device-width: 1024px) {
 table.table1 {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.23em;
  border-collapse: separate;
  margin-left: 493px;
  margin-right: 10px;
  margin-top: -4px;
  }
}
table.table2{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.0em;
    font-style: normal;
    border-collapse:collapse;
	margin-left:1020px;
	margin-top: -15px;
}

.table1 thead th{
    padding:2px 10px;
    color:#00D3FF;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid black;     //expand table
    border-bottom:3px solid black;
    text-align: center;
    box-shadow: 3px 6px 6px #044452;
    background-image: url(/ApplicationImages/DashBoard/Box_Black.png) !important;
    
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.table1 thead th:empty{
    background:transparent;
    box-shadow: 0px 0px 0px #044452;
    border:none;
    background-image: url(/ApplicationImages/DashBoard/DashBoardBackground.png) !important;
}
.table1 tbody th{
    color:#00D3FF;
    box-shadow: 3px 6px 6px #044452;
    border:1px solid #000000;
    border-right:3px solid #000000;
    padding:0px 10px;
    text-align: center;
   background-image: url(/ApplicationImages/DashBoard/Box_Black.png) !important;
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:1px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.table2 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:1px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}



.table1 tfoot td{
    color: #fff;
    font-size:20px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
    height:30px;
}
.table1 tfoot th{
    color:white;
    font-size:18px;
    text-align: center;
    
}

.table1 tbody td{   
    padding:0.5px;
    text-align:center;
   background-color:#22849A;
    border: 2px solid #22849A;
     -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color: #ffffff;
    box-shadow: 3px 6px 6px #044452;
 
}



.table1 tbody span.check::before{
    content : url(../images/check0.png)
}



.main2 {
height: 92px;
margin-left: 49%;
}
@media screen and (max-device-width: 1024px) {
	.main2 {		 
 	 margin-left: 600px;
 	 height: 60px;
	 margin-top: -31px;
	}
}

.labelForUserInterfaceForConsignment {
	color: #00008B;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	listwidth: 120px !important;
	max-listwidth: 120px !important;
	min-listwidth: 120px !important;
	margin: 0px 0px 5px 5px !important;
}

.onschedulediv{
	float: left;
   width: 22%;
   height: 75px;
   background:#008000;
     margin: 7px;	   
   position: relative;
   z-index: 200;
   margin-left: 9px;
   box-shadow: 7px 4px 3px  #044452;
   
   }	
 
 
 .iconspace{
height:20px;
margin-top: 25px;
}

.iconon {
	 font-size: 17px;
	 font-family: 'Open Sans', sans-serif;
	 padding-top: 10px;
	 text-align: center;
	 padding-left: 68px;    
     cursor:pointer; 
	 color: white;
	}
	
.spanon{
        margin-top: 4px;
		font-size: 17px;
		padding-top:4em;
		text-align: center;
		padding-left: 52px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-stretch: condensed;
		color: white;
	} 	
@media screen and (max-device-width: 1024px) {
	.onschedulediv {
	  float: left;
	  width: 20%;
	  height: 50px;
	  background: #008000;
	  margin: 7px;
	  position: relative;
	  z-index: 200;
	  margin-left: 9px;
	  box-shadow: 7px 4px 3px #044452;
	}
	.iconspace {
	  height: 20px;
  	  margin-top: 10px;
	}
	.iconon {
	  font-size: 14px;
	  font-family: 'Open Sans', sans-serif;
	  padding-top: 10px;
	  text-align: center;
	  padding-left: 27px;
	  cursor: pointer;
	  color: white;
	}
	.spanon {
	  margin-top: 0px;
	  font-size: 14px;
	  padding-top: 4em;
	  text-align: center;
	  padding-left: 14px;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: bold;
	  font-stretch: condensed;
	  color: white;
	}
}


.onschedulediv1 {
float: left;
width: 22%;
height: 75px;
background: #9F000F;
margin: 7px;
position: relative;
z-index: 200;
margin-left: 9px;
box-shadow: 7px 4px 3px #044452;
}
 .iconspace1{
height:20px;
padding-top: 1em;

}

.iconon1 {
	 font-size: 17px;
	 font-family: 'Open Sans', sans-serif;
	 padding-top: 8px;
	 text-align: center;
	 padding-left: 73px;
	 color: white;
	}
	
.spanon1{
        margin-top: 4px;
		font-size: 17px;
		padding-top:4em;
		text-align: center;
		padding-left: 52px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-stretch: condensed;
		color: white;
	} 	
@media screen and (max-device-width: 1024px) {
	.onschedulediv1 {
	float: left;
	width: 20%;
	height: 50px;
	background: #9F000F;
	margin: 7px;
	position: relative;
	z-index: 200;
	margin-left: 9px;
	box-shadow: 7px 4px 3px #044452;
	}
	.iconspace1{
	 height:20px;
	 padding-top: 1em;
	 }	 
	.spanon1 {
	 margin-top: 4px;
	 font-size: 14px;
	 padding-top:4em;
	 text-align: center;
	 padding-left: 14px;
	 font-family: 'Open Sans', sans-serif;
	 font-weight: bold;
	 font-stretch: condensed;
	 color: white;
	}
}
 
 .onschedulediv2 {
float: left;
width: 22%;
height: 75px;
background: #FFA62F;
margin: 7px;
position: relative;
z-index: 200;
margin-left: 9px;
box-shadow: 7px 4px 3px #044452;
}	
.iconspace2{
height:20px;
}

.iconon2 {
	 font-size: 17px;
	 font-family: 'Open Sans', sans-serif;
	 padding-top: 8px;
	 text-align: center;
	 padding-left: 73px;
	 color: white;
	}
	
.spanon2{
        margin-top: 4px;
		font-size: 17px;
		padding-top:4em;
		text-align: center;
		padding-left: 47px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-stretch: condensed;
		color: white;
	} 	

@media screen and (max-device-width: 1024px) {
	.onschedulediv2 {
	 float: left;
	 width: 20%;
	 height: 50px;
	 background: #FFA62F;
	 margin: 7px;
	 position: relative;
	 z-index: 200;
	 margin-left: 9px;
	 box-shadow: 7px 4px 3px #044452;
	}
	.iconspace2{
	 height:20px;
	}
	.spanon2 {
	  margin-top: 0px;
	  font-size: 14px;
	  padding-top: 4em;
	  text-align: center;
	  padding-left: 9px;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: bold;
	  font-stretch: condensed;
	  color: white;
	}
} 
 
 
.onschedulediv3 {
float: left;
width: 22%;
height: 75px;
background: #7D0552;
margin: 7px;

position: relative;
z-index: 200;
margin-left: 9px;
box-shadow: 7px 4px 3px #044452;
}	
 
 
 .iconspace3{
height:20px;
}

.iconon3 {
	 font-size: 17px;
	 font-family: 'Open Sans', sans-serif;
	 padding-top: 8px;
	 text-align: center;
	 padding-left: 73px;
	 color: white;
	}
	
.spanon3{
        margin-top: 4px;
		font-size: 17px;
		padding-top:4em;
		text-align: center;
		padding-left: 47px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-stretch: condensed;
		color: white;
	} 	
 @media screen and (max-device-width: 1024px) {
	.onschedulediv3 {
	  float: left;
	  width: 20%;
	  height: 50px;
	  background: #7D0552;
	  margin: 7px;	
	  position: relative;
	  z-index: 200;
	  margin-left: 9px;
	  box-shadow: 7px 4px 3px #044452;
	  }
	.spanon3 {
    margin-top: 4px;
    font-size: 14px;
    padding-top:4em;
    text-align: center;
    padding-left: 9px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-stretch: condensed;
    color: white;
	}	
}
 .labelstyleforConsignmentDashboard{
	spacing: 10px;
	height: 20px;
	width: 150 px !important;
	min-width: 150px !important;
	margin-bottom: 5px !important;
	margin-left: 14px !important;
	font-size: 12px;
	font-family: sans-serif;
	color: #FFFFFF;
}

.buttonstyleforConsignmentDashboard {
	margin: 0px 0px 5px 5px !important;
	color: #FFFFFF;
}

.vehicle-show-details-block-for-consignment {
font-size: 12px;
font-family: 'Open Sas' sans-serif !important;
float: left;
width: 100px;
height: 40px;
}


.vehicle-show-details-block-for-consignment1 {
font-size: 12px;
font-family: 'Open Sas' sans-serif !important;
float: left;
width: 50px;
height: 40px;
}

.vehicle-show-details-block-for-consignment2 {
font-size: 12px;
font-family: 'Open Sas' sans-serif !important;
float: left;
width: 80px;
height: 40px;
}

.for-image {
font-size: 12px;
font-family: 'Open Sas' sans-serif !important;
float: left;
width: 21px;
height: 21px;
}



table.tablea{
    width: 90px;
height: 400px;
}

.dashboardcustomerpannelForConsignmentPanel {
	height: 46px;
	width: 98.5%;
	border: 0 !important;
	margin: 0% 1% 0% 1%;
}

.dashboardcustomerpannelForConsignment {
	height: 40px;
	width: 100%;
	margin: 0% 0% 0% 0%;
}

.dashboardcustomerinnerpannelForConsignment {
	height: 34px;
	width: 100% !important;
	margin: 1% 0% 0% 1%;
	border: 0;
}




